form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

form > * {
  width: 100%;
  margin-bottom: 15px;
}

.clean-btn {
  margin-left: -105px;
}

button {
  margin-top: 20px;
}