.form-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form, .content-table {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

form>* {
  width: 100%;
  margin-bottom: 15px;
}

.clean-btn {
  margin-left: -105px;
}

.table-btn {
  margin-left: -195px;
}

button {
  margin-top: 20px;
}

img {
  display: block;
  margin: 0 auto;
  width: 30%;
  height: 30%;
}



@media (max-width: 1535px) {
  .my-btn {
    flex-direction: column;
    align-items: center;
  }
  .my-btn .col-md-2 {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  button {
    width: 80%; /* Ajusta este valor según tus necesidades */
    margin-top: 30px;
    margin-left: 0;
  }
  .clean-btn, .table-btn {
    margin-left: 0;
  }
}


